@font-face {
	font-family: 'roboto';
	src: url('./Fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'robotoItalic';
	src: url('./Fonts/Roboto-Italic.ttf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	font-family: 'roboto';
}

.nav-flex {
	display: flex;
	align-items: center; /* Optional: align vertically to the center */
  }

  .nav-flex > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  .nav-flex > ul > li {
	color: #e5e7eb;
	padding: 8px;
	border-radius: 5px;
	background-color: #3882f6;
	display: inline-block;
	margin-right: 20px; /* Optional: space out the list items horizontally */
  }


.ctaContainer {
	background-color: #1f2937;
	padding: 150px 0;
}

.firstCtaPictureContainer {
	width:700px;
	height: auto;
}

.logo {
	width: 150px;
	height: auto;
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.firstCtaPictureContainer img {
	width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstCta {
	margin: 0 auto;
	max-width: 1400px;
	display: flex;
	justify-content: center;
	gap: 30px;
	align-items: center;
}

.firstCtaTextContainer {
	height: fit-content;
}

.firstCta h1 {
	font-family: 'roboto';
	font-size: 48px;
	font-weight: 800;
	color: #f9faf8;
	max-width: 16ch;
}

.firstCta p {
	font-family: 'roboto';
	font-size: 18px;
	color: #e5e7eb;
	max-width: 45ch;
	font-weight: 400;
}

.firstCtaButton {
	background-color: #3882f6;
	border: none;
	padding: 5px 30px;
	color: white;
	font-size: 18px;
	border-radius: 8px;
	cursor: pointer;
}

.informationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 60px 0;
}

.informationContainer h2 {
	font-weight: 900;
	font-size: 36px;
}

.informationCardsContainer {
	display: flex;
	gap: 30px;
}

.informationSmallContainer {
	width: fit-content;
}

.informationSmallContainer picture {
	border: 2px solid #3882f6;
	border-radius: 8px;
	display: flex;
	height: 150px;
	width: 150px;
}

.informationSmallContainer p {
	text-align: center;
	max-width: 150px;
}

.inspiringContainer {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e7eb;
	padding: 120px 0;
}

.inspiringQwote {
	font-size: 36px;
	color: #1f2937;
	margin: 0;
	max-width: 900px;
	font-style: italic;
	font-family: 'roboto';
}

.inspiringAuthor {
	max-width: 750px;
	width: 750px;
	text-align: right;
	font-family: 'roboto';
	font-weight: 700;
}

.secondCta {
	max-width: 1280px;
	margin: 100px auto;
	border-radius: 15px;
	padding: 30px 0;
	background-color: #3882f6;
	color: white;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.secondCta div,
.secondCta button {
	margin: 15px 150px;
}

.secondCta .title {
	font-weight: bold;
	margin: 0;
}

.secondCta .subtitle {
	margin: 0;
}

.secondCta button {
	color: white;
	background-color: #3882f6;
	border: 2px solid white;
	border-radius: 12px;
	padding: 0 24px;
	font-weight: bold;
}

@media screen and (max-width: 468px) {
    /* Navbar */
    .nav-flex {
        flex-direction: column;
    }

    .nav-flex > ul > li {
        display: block;
        margin-bottom: 20px;
    }

    /* ctaContainer */
    .firstCta {
        flex-direction: column;
    }

    .firstCtaPictureContainer {
        width: 100%;
    }

    /* informationContainer */
    .informationCardsContainer {
        flex-direction: column;
    }

    /* Font sizes */
    .firstCta h1 {
        font-size: 36px;
    }

    .firstCta p, .firstCtaButton {
        font-size: 16px;
    }

    .informationContainer h2 {
        font-size: 30px;
    }

    .inspiringQwote {
        font-size: 24px;
		text-align: center;
    }

    /* secondCta */
    .secondCta {
        flex-direction: column;
        align-items: center;
    }

    .secondCta div, .secondCta button {
        margin: 15px auto;
    }
}

