/** 
colors 

- hero and footer dark background :
 hero #1f2937

- white-color: #f9faf8
- secondry-white-color: #e5e7eb
- logo-text: # f9faf8

- button color: #3882f6

- primary-color: #1f2937
- dark--grey: #e5e7eb
- very-dark grey: #1f2937

fonts: 
h1:48 extra-bold
h2:36 extra-bold
p: 28
qoute: 36 light itlaic
header logo: 24px

**/
